.husky
.gitignore
.npmignore
.prettierignore
.gitattributes
.coverage
.coveragerc
**/*.txt
**/*.py
Dockerfile
**/*.png
**/python/*
**/*.ico
**/*.svg
**/*.sh
**/*.jpg
**/*.ttf
**/*.feature
**/*.properties