.App {
  text-align: center;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #410c18;
}

@font-face {
  font-family: "font";
  src: local("font"), url("./fonts/font.ttf") format("truetype");
}

.font-face-0 {
  font-family: "font";
  font-size: 9em;
  color: #8d3146;
}
