@font-face {
  font-family: "font";
  src:
    local("font"),
    url("font.ttf") format("truetype");
}

body {
  background: url(bg.jpg);
}

.font {
  font-family: "font";
  font-size: 9em;
  color: #8d3146;
}

.readable {
  background-color: rgba(255, 255, 255, 0.3);
}

.information {
  font-size: 120%;
  font-weight: 700;
  color: #29050d;
}

.authButton {
  background-color: #b98adb;
  color: white;
  border: none;
}

.authButton:hover {
  background-color: #cb98f0;
}

.authButton:active {
  background-color: #85659c !important;
}
