---
---

@import "{{ site.theme }}";

body { 
    background-image: url(../images/banner.jpg);
}

#main-content h1 { font-size: 7em; font-weight: normal; color: #410c18;  }
#main-content h1:before { content: ""; }
p { color: #410c18; font-size: 1.5em; }
li { color: #410c18; font-size: 1.2em; }
.container { background-color: rgba(215, 224, 250, 0.507); }
// ul { background-color: rgba(215, 224, 250, 0.507);}